@media (min-width: 1px) and (max-width: 576px) {
  header {
    padding: 10px;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  .logolunasol img {
    width: 100px;
    height: auto;
  }
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grid li {
    margin-bottom: 10px;
  }
  .grid li a {
    font-size: 16px;
  }
  .carousel-inner img {
    height: auto;
    object-fit: cover;
    width: 100%;
  }
  .card {
    max-width: 300px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 20px;
  }
  .footer-content {
    flex-direction: column;
  }
  .footer-left,
  .footer-center,
  .footer-right {
    margin-bottom: 20px;
  }
  .packremeras {
    flex-direction: column;
    align-items: center;
  }
  .packremeras .card {
    width: 80%;
    margin-bottom: 20px;
  }
  .container, section article h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container p, section article h3 p {
    font-size: 1rem;
    color: white;
    padding: 5px;
    width: 100%;
    text-align: justify;
  }
  .cards {
    flex-direction: column;
    justify-content: center;
  }
  .grid li a {
    font-size: 1rem;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  header {
    padding: 10px;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  .logolunasol img {
    width: 100px;
    height: auto;
  }
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grid li a {
    font-size: 16px;
  }
  .carousel-inner img {
    height: auto;
    object-fit: cover;
    width: 100%;
  }
  .card {
    max-width: 300px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 20px;
  }
  .footer-content {
    flex-direction: column;
  }
  .packremeras {
    flex-direction: column;
    align-items: center;
  }
  .packremeras .card {
    width: 80%;
    margin-bottom: 20px;
  }
  .cards {
    justify-content: center;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  .logolunasol img {
    width: 100%;
    height: auto;
  }
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grid li a {
    font-size: 16px;
  }
  .packremeras .card {
    width: 80%;
    margin-bottom: 20px;
    margin: 5px;
  }
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000100;
  color: white;
  padding: 1rem 2rem;
  width: 100%;
  top: 0;
  z-index: 1000;
}

main {
  background-color: #F28080;
}

.grid li a {
  padding: 1rem 1rem;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  font-size: 1rem;
  font-weight: bold;
}

.grid li a:hover {
  color: #F28080;
}

.contacto1 {
  max-width: 600px;
  margin: 2rem auto;
  display: grid;
  gap: 1rem;
}

.contacto1 input {
  padding: 1rem;
  border: 1px solid #F28080;
  border-radius: 5px;
}

.nav-links2 {
  display: flex;
  list-style: none;
  gap: 2rem;
}

button {
  margin: 5px;
  background-color: white;
  color: #000100;
  font-weight: bold;
  border: solid 5px BLACK;
  border-radius: 10px;
  font-size: 15px;
}

button:hover {
  transform: scale(1.05);
}

section h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  counter-reset: #F28080;
  color: #000100;
}

.footer-left a {
  color: white;
  text-decoration: none;
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.tiktok {
  background: #000100;
}

.instagram {
  background: #000100;
}

.facebook {
  background: #000100;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}

.container p, section article h3 p {
  font-size: 2rem;
  color: white;
  padding: 5px;
  width: 100%;
  text-align: justify;
}

.footer-links:hover {
  color: #F28080;
}

.footer-links li a:hover {
  color: #F28080;
  transition: color 0.3s ease;
}

section {
  max-width: 1200px;
  padding: 10px;
  text-align: center;
}

section h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.preguntasfrecuentes {
  font-size: 26px;
  line-height: 1.5;
  color: white;
  text-align: center;
  text-align: justify;
  padding: 10px;
}

article {
  width: 250px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
}

article img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.titulo {
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
}

.p {
  color: white;
}

.productos-destacados {
  padding: 20px;
  text-align: center;
}

.tarjeta {
  margin: 20px auto;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tarjeta img {
  width: 90%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 5px;
}

.tarjeta h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.tarjeta p {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.tarjeta button {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 18px;
  font-size: 12px;
  cursor: pointer;
}

.tarjeta button:hover {
  background-color: #333;
}

.btn-primarya {
  background-color: #F28080;
}

h3 {
  color: #333;
}

p {
  color: white;
  font-weight: bold;
}

.logolunasol {
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0;
}

.container, section article h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section article p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
}

section h2 {
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 4px;
}

.footer-center {
  display: flex;
  justify-content: center;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-media button {
  margin: 0 10px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.packremeras {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
