

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: $colortexto;
  margin: 0;
  padding:0;
}
header {
  background-color: $backgroundmain ;
  color: $colortexto ;
  padding: 1rem 2rem;
   width: 100%;
  top: 0;
  z-index: 1000;
  
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0 
  
}

main{
  background-color:pink;
}


.grid li a {
  padding: 1rem 1rem;
  text-decoration: none;
  color: $colortexto;
  transition: color .3s ease;
  font-size: 1rem;
  font-weight: bold;
  
}
.grid li a:hover{
  color: pink;
}

.contacto1{
  max-width: 600px;
  margin: 2rem auto;
  display: grid;
  gap: 1rem;
}

.contacto1 input{
  padding: 1rem;
  border: 1px solid red;
  border-radius: 5px;

}



.nav-links2{
  display: flex;
  list-style: none;
  gap: 2rem;
  
}

button{
  margin: 5px;
  background-color:white;
  color: black;
  font-weight: bold;
  border: $bordes;
  border-radius: 10px;
 
  font-size: 15px;
  
}

button:hover{
transform: scale(1.05);
}



.logolunasol{
  display: flex;
  justify-content: center;
}

section h2{
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  counter-reset: pink;
  color: black;
}



.footer-left a{
  color: white;
  text-decoration: none;
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: bold;

}
.tiktok{
  background: $backgroundmain;
}

.instagram{
  background: $backgroundmain;
}

.facebook{
  background: $backgroundmain;}


section {
  max-width: 1200px;
  margin: 0 auto;
}



section {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  
}



.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.container p {
  font-size: 2rem;
  color: $colortexto;
  padding: 5px;
  width: 100%;
  text-align: justify;
}



.footer-links:hover{
color: pink;
}

.footer-links li a:hover {
  color: pink;
  transition: color 0.3s ease;
}

section {
  max-width: 1200px;
  padding: 10px;
  text-align: center;
}

section h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.preguntasfrecuentes {
  font-size: 26px;
  line-height: 1.5;
  color:white;
  text-align: center;
  text-align: justify;
  padding: 10px;
 
} 

article {
  width: 250px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
}

article img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.titulo {
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
}

.p{
  color: $colortexto;
  
}

.productos-destacados {
  padding: 20px;
  text-align: center;
}

.tarjeta {
  margin: 20px auto;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tarjeta img {
  width: 90%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin:5px;
}

.tarjeta h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.tarjeta p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.tarjeta button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 18px;
  font-size: 12px;
  cursor: pointer;
}

.tarjeta button:hover {
  background-color: #444;
}

.btn-primarya{
  background-color: pink;
}

h3{
  color: #333;
}
p{

  color: #333;
  font-weight: bold;
}