.logolunasol{
  display: flex;
  justify-content: center;
}
.grid{
  display: flex;
  
  list-style: none;
  
}


section article h3{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

section article p{
display: flex;
align-items: center;
justify-content: center;  

}

.button{
display: flex;
justify-content: center; 
}

section h2{
  display: flex;
  justify-content: center;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 4px;
}

.footer-center {
  display: flex;
  justify-content: center;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-media button {
  margin: 0 10px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


 .packremeras {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}





