@media (min-width: 1px) and (max-width: 577px){

.navegador {
  grid-template-rows:repeat(3,1fr);
  grid-template-columns: 1fr;
}
  .grid{
    flex-direction: column;
}

 .cards{
    flex-direction: column;
    align-items: center;
    }
 article{
  width: 100%;}

.footer2{
  flex-direction:column ;}

  body{
  position: relative;
}
  
}

@media (min-width: 578px) and (max-width: 767px) {

.navegador {
  grid-template-rows:repeat(3,1fr);
  grid-template-columns: 1fr;
}
  .grid{
    flex-direction: column;
}

 .cards{
    flex-direction: column;
    align-items: center;
    }
 article{
  width: 100%;}

.footer2{
  flex-direction:column ;}


}

@media (min-width: 768px) and (max-width: 993px) {
    .grid{
    flex-direction: column;
}
 article{
  width: 50%;}

}

@media (min-width: 994px) and (max-width: 1283px) {

 .grid{
    flex-direction: column;
}
article{
  width: 40%;}

}

