/* Estilos para dispositivos móviles */
@media (min-width: 1px) and (max-width: 576px) {
  /* Estilos para dispositivos móviles */
  header {
    padding: 10px;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  .logolunasol img {
    width: 100px;
    height: auto;
  }

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid li {
    margin-bottom: 10px; /* agrega espacio entre los elementos de la navegación */
  }

  .grid li a {
    font-size: 16px;
  }

  .carousel-inner img {
    height: auto;
    object-fit: cover;
    width: 100%;
  }
  .card {
    max-width: 300px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 20px;
  }

  .footer-content {
    flex-direction: column; /* cambia la disposición del footer a columna */
  }

  .footer-left,
  .footer-center,
  .footer-right {
    margin-bottom: 20px; /* agrega espacio entre los elementos del footer */
  }

  .packremeras {
    flex-direction: column;
    align-items: center;
  }
  .packremeras .card {
    width: 80%;
    margin-bottom: 20px;
  }
  .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.container p {
  font-size: 1rem;
  color: $colortexto;
  padding: 5px;
  width: 100%;
  text-align: justify;
}

  .cards {
    flex-direction: column;
    justify-content: center;
      
  }

  .grid li a {
  font-size: 1rem;   
}

}



@media (min-width: 577px) and (max-width: 768px) {

    header {
    padding: 10px;
  }
nav {
    flex-direction: column;
    align-items: center;
  }

  .logolunasol img {
    width: 100px;
    height: auto;
  }
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

   .grid li a {
    font-size: 16px;
  }

   .carousel-inner img {
    height: auto;
    object-fit: cover;
    width: 100%;
  }
  .card {
    max-width: 300px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 20px;
  }
  .footer-content {
    flex-direction: column; 
  }

  .packremeras {
    flex-direction: column;
    align-items: center;
  }
  .packremeras .card {
    width: 80%;
    margin-bottom: 20px;
  }
.cards {
   justify-content: center;
      
  }
}

@media (min-width: 769px) and (max-width: 992px) {
    nav {
    flex-direction: column;
    align-items: center;
  }

  .logolunasol img {
    width: 100%;
    height: auto;
  }
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

   .grid li a {
    font-size: 16px;
  }
   .packremeras .card {
    width: 80%;
    margin-bottom: 20px;
    margin: 5px;
}

}

@media (min-width: 993px) and (max-width: 1200px) {


}
@media (min-width: 1201px) and (max-width: 1400px) {


}