$colortexto: white;
$backgroundmain: #000100;
$bordes: solid 5px BLACK;
$fondo: #F28080;


@mixin display {
    display: flex;
    flex-direction: column;

}

@mixin letras {
    font-size: 1rem;
    font-weight: bold;
}


//maps

$links: (
    color: #333,
    padding: 10px
);